.app-services{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .title{
    margin-bottom: -22px;
    width: fit-content;
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    z-index: 1001;
    position: relative;
  }
  .content-service {
    border-top: solid white 1px;
    align-items: center;
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .text-action{
    width: 45%;
    padding: 50px;
  }
  .content-service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
  .box-service{
    width: 98%;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: #0e0d0d solid 1px;
    h1{
        font-size: larger;
    }
    .pricing{
      color: rgb(55, 87, 65);
    }
  }
  #last{
    border-bottom: none;
}

@media (max-width: 768px) {
  .content-service {
      flex-direction: column;
  }
  .text-action{
    width: 100%;
  }

  .box-service {
      grid-template-columns: 1fr;
  }
}

/* Para tablets */
@media (max-width: 1024px) {
    .content-service {
        display: grid;
    }
    .text-action{
      width: 100%;
    }

    .box-service {
        grid-template-columns: 1fr;
    }
}