#Home{
  margin-top: 0;
  border: solid rgb(0, 0, 0) 1px;

}
.app-home {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.corners-border {
  margin: 50%;
  position: relative;
  height: 200px;
  width: 200px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1001;
}

.corners-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30%; 
  height: 30%; 
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
}

.corners-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%; 
  height: 30%;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
}

.name-home {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid white 1px;
  background-color: rgba(0, 0, 0, 0.541);
  text-align: center;
}

.name-home h2 {
  font-size: xx-large;
  color: rgb(255, 255, 255);
}


.content-home-image {
  width: 80%;
  height: 300px;
  margin-bottom: 20px;
}

.box-image-slide {
  padding: 0;
  text-align: center;
  background-color: none;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
  border: solid rgb(0, 0, 0) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-image-slide img {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .app-home{
    margin-top: 50px;

  }
  .content-home-image {
    width: 100%;
    height: auto;
  }

  .corners-border {
    margin-top: 50%;
    height: 100px;
    width: 100px;
  }

  .name-home {
    height: 80px;
    width: 80px;
  }

  .name-home h2 {
    font-size: medium;
  }

  .box-image-slide {
    height: 200px;
  }

  .box-image-slide img {
    border-radius: 2px;
  }
}

