*{
    margin: 0 0 0 0;
  }
  html{
    background: black;
    color: aliceblue;
  }
  
  .header{
    height: 70px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(36, 36, 36);
    }
    .header img{
      width: auto;
      height:70px;
      float: left;
    }
    .header .search{
      margin-top:20px;
      margin-left: 25%;
    }
      .header .search .barra-pesquisa{
        width:300px;
        border-radius: 5px;
        background-color: rgb(54, 54, 54);
        border: none;
        padding: 7px;
      }
      .header .search #searchbtn{
        width:30px;
        height:30px;
        float: inline-end;
        margin-top:-30px;
        padding: 5px;
        margin-left: 20%;
        background-color: rgb(54, 54, 54);
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    .header .buttonshead{
      display: flex;
      margin-left: 15%;
    }
      .header .buttonshead button{
        display: flex;
        text-align: center;
        width:100px;
        height:25px;
        inset-inline-end:inherit;
        margin-top:23px;
        padding: 5px;
        margin-left: 20%;
        background-color: rgb(54, 54, 54);
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
      .header .buttonshead .material-symbols-outlined{
        margin-top: -3px;
      }

.container{
  margin-top: 25px;
  width: auto;
  min-height: 450px;
  padding: 20px;
  border: 1px solid red;
  display: flex;
}
.menulateral{
  float: left;
  padding: 15px;
  display:grid;
  width: 200px;
  min-height: 425px;
  border: 1px solid red;
}
.conteudo{
  float: right;
  border: 1px solid red;
  width: 100%;
  min-height: 425px;
  padding: 20px; 
  margin-left: 10px;
}