body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(72deg, #424549, #333847, #0c1944);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    height: 520px;
    width: 950px;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgba(1, 1, 37, 0.795);
}

.conteiner .slide img {
    height: 100%;
    width: 100%;
}

.navegação {
    position: absolute;
    text-align: center;
    top: 85%;
    display: flex;
}

.bar {

    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: white;
}

input {
  display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 
