*{
    margin: 0;
}
.home-container {
    text-align: center;
    color: #fff;
    background-color: #141414;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 500;
    font-style: normal;
  }
  
  .home-user {
    display: flex;
    justify-content: center;
    gap: 40px;

  }
  
  .user-profile {
    text-align: center;

  }
  
  .user-image {
    width: 140px;
    height: 140px;
    border-radius: 5%;
    cursor: pointer;
  }
  
  .user-profile p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #868686;
    font-weight: 400;
    font-style: normal;

  }
.user-profile:hover p{
    color: #ffffff;
}

.user-profile:hover img {
    border: solid 2px white;
    padding: 1px;
    box-sizing: border-box;
}


h2{
    color: #868686;;
    padding: 8px 25px;
    letter-spacing: 2px;
    font-size: 1.0rem;
    font-weight: 400;
}
.home-configurar{
    margin-top: 8%;
    border: solid 1px #868686;;
}
.home-configurar h2:hover {
    color: #fff;
    border: solid 1px #ffffff;
    cursor: pointer;
  }
