*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*configuração do texto*/
  color:var(--cortextogeral);
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  scrollbar-width: none;
}
   
a{
  text-decoration: none;
  color: var(--cortextogeral);
}

:root{
  /*↓ fundo da pagina */
  --backgroundpage: linear-gradient(to bottom, black, rgb(32, 32, 32)20%,  black);
  /*↓ fundo do menu - caixas de texto - rodapé*/
  --corfundoheader: rgb(0, 0, 0);
  /*↓ cor do texto */
  --cortextogeral: rgb(230, 224, 224);
  /*↓ cor de fundo botões */
  --corinput: #252525;
  /*↓ cor de fundo botões::hover */
  --corinputhover: #c0c0c0;
}
  
body {
  background: var(--backgroundpage);
}
  

header {
    top: 0;
    position: fixed;
    z-index: 1001;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--corfundoheader);
    }
    #h1-header {
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-shadow: -2px -2px 0 #000000, -3px -3px 0 #ffffff, -4px -4px 0 #2b2b2b;
    }
    #p-header {
        text-align: center;
        margin-top: -25px;
    }


.home {
    top: 100px;
    position: relative;
    display: flex;
    height: 310px;
    overflow: hidden;
    }
    .home-slideshow {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 310px;
        z-index: -1;
        opacity: none;
        animation: slideshow 10s infinite;
        background-size: none;
        background-position: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
        }
        .home-slideshow img {
            width: auto;
            height: 300px;
            display: none;
            margin: 0;
            }
            .home-slideshow img.active {
                display: block;
            }
            @keyframes slideshow {
                0% { opacity: 1; }
                33% { opacity: 1; }
                66% { opacity: 1; }
                100% { opacity: 1; }
            }
.content{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  top:100px;
}

  .nomepg{
      text-align: left;
      margin: 30px 0 25px 0;
      font-size: 25px;
  }
.nossoestudio{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 95%;
    .nomepg{
      margin-bottom: -15px;
    }
  }
  .slideshow-container {
    position: relative;
    max-width: 100%;
  }        
  .studio-slideshow {
    display: flex;
    position: relative;
    overflow-y:hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1);
    scroll-snap-type: proximity;
    height: 200px;
    align-items: end;
    }
    .studio-slideshow img {
      scroll-snap-align: start;
      flex: 0 0 auto;
      width: 200px; 
      height: 160px;
      padding: 5px;
      transition: transform 0.3s ease-in-out;
      cursor: pointer
      }
      .studio-slideshow img:hover {
        transform: scale(1.7); 
        position:relative;
      }
      .studio-slideshow::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

.equipe {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 95%;
  }
  .colaboradores{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
    .colaboradores img{
      width: 100px;
      border-radius: 50%;
    }
    .colaboradores h1{
      font-size: 20px;
      padding: 5px;
    }
    .colaboradores .redescolaborador{
      padding: 20px;
      }
      .colaboradores .redescolaborador svg{
        width: 25px;
      }
      .colaboradores .redescolaborador .redessociaiscolaborador{
        display: flex;
        text-decoration: none;
      }

.muraldaarte {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 95%;
  padding-bottom: 10px;
  }
  h1 {
      font-size: 2em;
      margin-bottom: 20px;
  }
  .mural-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*FILTRO*/
    .filter-buttons { 
        margin-bottom: 20px;
        display: none;
        width: fit-content;
    }
    .filter-btn, .redirect-btn {
        background-color: var(--corinput);
        border: none;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border-radius: 20px;
    }
      .filter-btn.active {
          background-color: var(--corinputhover);
          color: #000000;
      } 

/*FILTRO HAMBURGUER*/

        #hamburguerfiltro{
          width: 37px;
          margin-top: -60px;
          margin-left: 85%;
          z-index: 1000;
        }
/*GALERIA*/
      .gallery {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;
      }
      .gallery-item {
          display: none;
          width: 220px;
          height: 220px;
          overflow: hidden;
          border-radius: 10px;
      }
      .gallery-item img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease-in-out;
      }
        .gallery-item img:hover {
          transform: scale(1.7);
          position:relative;
        }
.servicos{
  width: 95%;
  padding-bottom: 10px;
}
.content-service{
  display: flex;
  flex-direction: column;
  height: fit-content;
  
  gap: 25px;
  }
  .content-service .box-servicos{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: var(--corfundoheader);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    }
    .content-service .box-servicos img{
      border-radius: 20px;
      width: 200px;
      padding: 10px;
    }
    .descricaoservico{
      width: 90%;
      text-align: left;
      h1{
        font-size: 20px;
      }
    }
    .box-btn-servico{
      width: 200px;
      height: auto;
    }
    .btn-servico{
      background-color: var(--corinput);
      height:auto;
      border-radius: 15px;
      padding: 10px;
      text-align: center;
    }


.depoimentos {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 95%;
  padding-bottom: 20px;
  }
  .rowdepoimento {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .box-depoimento {
        background-color:var(--corfundoheader);
        height: 200px;
        width: 600px;
        border-radius: 20px;
        margin: auto;
        padding: 5px;
        display: none; 
        justify-content: center;
        overflow: hidden;
        flex-direction: row;
        align-items: center;
      }
      .box-depoimento.active {
          display: flex;
      }
    .client-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        padding-left: 30px;
      }           
      .client-photo {
          border-radius: 50%;
          width: 90px;
          height: 90px;
          margin-bottom: 10px;
        }
        .client-instagram {
            text-decoration: none;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
          }
          .client-instagram SVG{
            width: 25px;
            }
            .client-instagram:hover {
              text-decoration: underline;
            }
.depoimentoefoto{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .client-text {
    font-size: 14px;
    margin-bottom: 5px;
    width: 60%;
  }
    .work-photo {
        width:100px;
        height: auto;
        border-radius: 10px;
        margin-left: 15px;
    }
    .dots {
      display: flex;
      justify-content: center;
      margin-top: -5px;
      }
      .dot {
          height: 15px;
          width: 15px;
          margin: 0 5px;
          background-color: rgb(56, 56, 56);
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
      }
      .dot.active {
          background-color: var(--corinputhover);
      }
      
.whatsappicon{
  position: fixed;
  top: 88%;
  z-index: 1000;
  right: 0;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
    svg{
      width: 50px;
    }
}

       #footer {
          background-color: var(--corfundoheader);
          padding: 20px 0;
          text-align: center;
          width: 100%;
          height: fit-content;
          margin-top: 10px;
        }      
        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 90%;
            margin: 0 auto;
            flex-wrap: wrap;
        }
          .footer-container > div {
              flex: 1;
              margin: 10px;
              max-width: 300px;
          }
            .social-contact {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              .social-icons {
                  display: flex;
                  justify-content: center;
                  margin-bottom: 30px;
                  gap: 10px;
                }
                .social-icons a {
                    margin: 0 5px;
                }
                .social-icons svg {
                    width: 32px;
                    height: 32px;
                }
            .working-hours{
              text-align: center;
              line-height: 30px;
              text-decoration: none;
              width: 200px;
            }
            .location{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              }
              .location img {
                  width: 100px;
                  height: auto;
              }
          .additional-links{
            text-decoration: none;
            text-align: left;
            display: flex;
            gap: 50px;
            justify-content: center;
          }    
                              
@media screen and (max-width: 800px) {
.home {
  height: 260px;
  width: auto;
  }
  .home-slideshow img {
    width: auto;
    height:240px;
    }
.colaboradores{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  .colaboradores img{
    width: 80px;
    border-radius: 50%;
  }
  .colaboradores h1{
    font-size: 17px;
    padding: 0;
    margin-bottom: 5px;
  }
  .colaboradores .redescolaborador{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .colaboradores .redescolaborador svg{
      width: 20px;
    }
/*MURAL DA ARTE*/

.gallery-item {
  width: 200px;
  height: 200px;
}
.gallery-item img:hover {
  transform: scale(1.8);
}
/*SERVIÇOS*/
.servicos{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 95%;
  padding-bottom: 10px;
  }
  .content-service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    }
    .box-servicos{
      background-color: var(--corfundoheader);
      display: flex;
      flex-wrap: wrap;
      width: 210px;
      height: 310px;
      overflow: hidden;
      border-radius: 10px;
      }
      .content-service .box-servicos img{
        border-radius: 20px;
        width:180px;
      }
      .descricaoservico{
        width: 100%;
        text-align: center;
        h1{
          font-size: 17px;
        }
        p{
          font-size: 14px;
        }
      }
      .box-btn-servico{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
        .btn-servico{
          width: 140px;
          border-radius: 15px;
          padding: 10px 5px;
          font-size: 14px;
        }
}

@media screen and (max-width: 599px) {
.home {
  height: 200px;
  width: auto;
  }
  .home-slideshow img {
    width:auto;
    height:180px;
    }

.depoimentoefoto{
  flex-direction: column;
}
footer {
  display: flex;
  flex-direction: column;
}      
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
  .footer-container > div {
      flex: 1;
      margin: 10px;
      max-width: 300px;
  }
    .social-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .social-icons {
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
          gap: 5px;
        }
        .social-icons a {
            margin: 0 5px;
        }
        .social-icons svg {
            width: 25px;
            height: 25px;
        }
    .working-hours{
      text-align: center;
      line-height: 25px;
      width: 200px;
      font-size: 14px;
    }
    .location{
      display: none;
      }

  .additional-links{
    text-decoration: none;
    text-align: left;
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 12px;
  }  

}
