Body{
    background: #d2d2c1 url("images/fundo.png");
    font: 16px Arial, Helvetica, sans-serif;
    }

#principal {
    width: 900px;
    }

#menu {
    background: #c5c5b2;
    padding: 18px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px
   }

 .centralizar {
    text-align: center;
    
   }

.img-campanha {
    border: 10px solid #c3c3ae ;
    align-items: center;
}