* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}
body{
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0)15%,rgb(36, 9, 34),rgb(58, 26, 57));
  }

  header{
    top: 0;
    height: 100px;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  
.kanban {
    display: flex;
    justify-content: center;
    min-height: 400px;
    gap: 10px;
    padding: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(101, 110, 110);
    min-width: 200px;
    border-radius: 5px;
}

.item {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.dragging {
    opacity: 0.5;
}
